@media all and (max-width: 767px) {
  @import 'typicons.min.css';
  @font-face {
    font-family: "OCRAStdRegular";
    src: url('97625733-ocrastd.eot');
    src: url('97625733-ocrastd.eot?#iefix') format('embedded-opentype'), url('97625733-ocrastd.svg#OCRAStdRegular') format('svg'), url('97625733-ocrastd.woff') format('woff'), url('97625733-ocrastd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  .OCR {
    font-family: "OCRAStdRegular";
    src: url('97625733-ocrastd.eot');
    src: url('97625733-ocrastd.eot?#iefix') format('embedded-opentype'), url('97625733-ocrastd.svg#OCRAStdRegular') format('svg'), url('97625733-ocrastd.woff') format('woff'), url('97625733-ocrastd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'typicons';
    src: url('typicons.eot');
    src: url('typicons.eot?#iefix') format('embedded-opentype'), url('typicons.woff') format('woff'), url('typicons.ttf') format('truetype'), url('typicons.svg#typicons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .Icon {
    font-family: 'typicons';
    src: url('typicons.eot');
    src: url('typicons.eot?#iefix') format('embedded-opentype'), url('typicons.woff') format('woff'), url('typicons.ttf') format('truetype'), url('typicons.svg#typicons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'MonacoRegular';
    src: url('monaco.eot');
    src: url('monaco.eot') format('embedded-opentype'), url('monaco.woff') format('woff'), url('monaco.ttf') format('truetype'), url('monaco.svg#MonacoRegular') format('svg');
  }
  .Monaco {
    font-family: 'MonacoRegular';
    src: url('monaco.eot');
    src: url('monaco.eot') format('embedded-opentype'), url('monaco.woff') format('woff'), url('monaco.ttf') format('truetype'), url('monaco.svg#MonacoRegular') format('svg');
  }
  @font-face {
    font-family: 'Conv_MODENINE';
    src: url('MODENINE.eot');
    src: local('☺'), url('MODENINE.woff') format('woff'), url('MODENINE.ttf') format('truetype'), url('MODENINE.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .Modenine {
    font-family: 'Conv_MODENINE';
    src: url('MODENINE.eot');
    src: local('☺'), url('MODENINE.woff') format('woff'), url('MODENINE.ttf') format('truetype'), url('MODENINE.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .Pink {
    color: #d5178f;
  }
  .Blue {
    color: #2e19ad;
  }
  .BlueBG {
    background: #2e19ad;
  }
  .Trans {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }
  .Window {
    font-size: 1.9em;
    width: 290px;
    position: absolute;
  }
  .WindowTop {
    cursor: url(img/icon-grab.svg), auto;
    background: #fff;
    border: 6px solid #000;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    float: right;
    width: 290px;
  }
  .WindowIcon {
    display: inline-block;
    cursor: url(img/icon-pointer.svg), auto;
    float: right;
    font-size: 1em;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #000;
  }
  .WindowContent {
    width: 290px;
    clear: both;
    border-right: 6px solid #000;
    border-left: 6px solid #000;
    border-bottom: 6px solid #000;
    margin-top: -6px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    background: #fff;
  }
  .WindowContent h1 {
    font-family: "OCRAStdRegular";
    src: url('97625733-ocrastd.eot');
    src: url('97625733-ocrastd.eot?#iefix') format('embedded-opentype'), url('97625733-ocrastd.svg#OCRAStdRegular') format('svg'), url('97625733-ocrastd.woff') format('woff'), url('97625733-ocrastd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 0.8em;
    text-transform: capitalize;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
  }
  .WindowContent a {
    text-decoration: none;
    color: #000;
  }
  .WindowContent a:hover {
    color: #d5178f;
  }
  .WindowContent p {
    font-family: 'MonacoRegular';
    src: url('monaco.eot');
    src: url('monaco.eot') format('embedded-opentype'), url('monaco.woff') format('woff'), url('monaco.ttf') format('truetype'), url('monaco.svg#MonacoRegular') format('svg');
    font-size: 0.5em;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.1em;
  }
  .WindowContentThumbnail {
    display: block;
    width: 100%;
    background: #fff;
    margin: auto;
    padding-bottom: 6px;
    position: relative;
  }
  .WindowContentThumbnail a {
    text-decoration: none;
    color: #000;
  }
  .WindowContentThumbnail a:hover {
    color: #d5178f;
  }
  .WindowContentThumbnail img {
    width: 100%;
    height: auto;
    position: relative;
  }
  .WindowContentButtons {
    background: #000;
    font-size: 0.4em;
    text-transform: uppercase;
    font-weight: 300!important;
    letter-spacing: 0.08em;
    width: 100%;
    height: 20px;
    position: inherit;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 5px;
    margin-right: 12px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    font-family: 'Conv_MODENINE';
    src: url('MODENINE.eot');
    src: local('☺'), url('MODENINE.woff') format('woff'), url('MODENINE.ttf') format('truetype'), url('MODENINE.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .WindowContentButtons a {
    color: #fff;
  }
  .WindowContentButtons a:hover {
    color: #fff;
  }
  .panel {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 9999;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }
  .panel .panel_logo {
    vertical-align: top;
    width: 20%;
    margin-left: 5%;
    height: 100%;
    display: inline-block;
  }
  .panel .panel_logo img {
    width: auto;
    height: 89px;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
    padding: 10px;
  }
  .panel .panel_social {
    display: inline-block;
    width: 14%;
    margin-top: 40px;
    margin-right: 5%;
    display: none;
  }
  .panel .panel_social ul {
    display: inline-block;
    float: right;
  }
  .panel .panel_social ul li {
    font-family: 'MonacoRegular';
    src: url('monaco.eot');
    src: url('monaco.eot') format('embedded-opentype'), url('monaco.woff') format('woff'), url('monaco.ttf') format('truetype'), url('monaco.svg#MonacoRegular') format('svg');
    font-size: 0.66em;
    display: inline-block;
    margin-right: 10px;
  }
  .panel .panel_social ul a {
    color: #000;
    text-decoration: none;
  }
  .panel .panel_social ul a:hover {
    color: #000;
    text-decoration: underline;
  }
  .panel .panel_nav_small {
    display: none;
  }
  .panel_fold {
    width: 100%;
    height: 50px;
    border-bottom: 3px solid black;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    z-index: 9999;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }
  .panel_fold .panel_logo {
    vertical-align: top;
    width: 25%;
    height: 100%;
    display: inline-block;
  }
  .panel_fold .panel_logo img {
    width: auto!important;
    height: 39px!important;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
    padding: 10px;
  }
  .panel_fold .panel_nav {
    display: none!important;
    width: 70%;
    float: right;
  }
  .panel_fold .panel_nav ul {
    display: inline-block;
    margin-top: 8px;
    float: right;
  }
  .panel_fold .panel_nav ul li {
    display: inline-block;
    float: left;
    padding: 2px;
    font-family: "OCRAStdRegular";
    src: url('97625733-ocrastd.eot');
    src: url('97625733-ocrastd.eot?#iefix') format('embedded-opentype'), url('97625733-ocrastd.svg#OCRAStdRegular') format('svg'), url('97625733-ocrastd.woff') format('woff'), url('97625733-ocrastd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    margin-right: 5px;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }
  .panel_fold .panel_nav ul li span {
    display: inline-block;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border: 4px solid #000;
  }
  .panel_fold .panel_nav ul li img {
    display: none;
  }
  .panel_fold .panel_nav ul li:hover {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }
  .panel_fold .panel_nav ul li:hover span {
    color: #fff;
    background: #000;
  }
  .panel_fold .panel_nav ul a {
    color: #000;
  }
  .panel_fold .panel_nav ul a:hover {
    color: #fff;
  }
  .panel_fold .panel_social {
    display: none;
    width: 24%;
    float: right;
  }
  .panel_fold .panel_social ul {
    display: inline-block;
    float: right;
  }
  .panel_fold .panel_social ul li {
    font-family: 'MonacoRegular';
    src: url('monaco.eot');
    src: url('monaco.eot') format('embedded-opentype'), url('monaco.woff') format('woff'), url('monaco.ttf') format('truetype'), url('monaco.svg#MonacoRegular') format('svg');
    font-size: 0.66em;
    display: inline-block;
    margin-right: 10px;
  }
  .panel_fold .panel_social ul a {
    color: #000;
    text-decoration: none;
  }
  .panel_fold .panel_social ul a:hover {
    color: #000;
    text-decoration: underline;
  }
  .panel_fold .panel_nav_small {
    display: inline-block !important;
    padding: 0.6em!important;
    overflow: hidden!important;
  }
  .panel_fold .panel_nav_small .panel_nav_small_button {
    font-size: 2em;
    margin-bottom: 10px!important;
    float: right!important;
    clear: both!important;
    display: block!important;
    cursor: pointer!important;
  }
  .panel_fold .panel_nav_small .panel_ul {
    z-index: 9999;
    display: none;
    width: 100%!important;
  }
  .panel_fold .panel_nav_small .panel_ul ul {
    clear: both!important;
    margin-top: 50px!important;
    float: right!important;
    color: #fff!important;
    width: 100%!important;
  }
  .panel_fold .panel_nav_small .panel_ul li {
    font-size: 1.7em;
    display: inline-block !important;
  }
  .panel_fold .panel_nav_small .panel_ul li a {
    color: #fff!important;
  }
  .panel_fold .panel_nav_small .panel_ul li h4 {
    display: none!important;
  }
  .panel_fold .panel_nav_small .panel_ul li span {
    border: 3px #fff solid;
    color: #fff!important;
    background: #000!important;
    font-size: 1.7em;
    margin: 5px!important;
    padding: 5px!important;
  }
  .panel_fold .panel_nav_small .panel_ul li:hover a {
    color: #000!important;
  }
  .window {
    left: 18%;
    top: 2%;
    z-index: 10!important;
    font-size: 1.9em;
    width: 290px;
    position: absolute;
  }
  .window .window_top {
    cursor: url(img/icon-grab.svg), auto;
    background: #fff;
    border: 6px solid #000;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    float: right;
    width: 290px;
  }
  .window .window_top .window_icon {
    display: inline-block;
    cursor: url(img/icon-pointer.svg), auto;
    float: right;
    font-size: 1em;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #000;
    font-family: 'typicons';
    src: url('typicons.eot');
    src: url('typicons.eot?#iefix') format('embedded-opentype'), url('typicons.woff') format('woff'), url('typicons.ttf') format('truetype'), url('typicons.svg#typicons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .window .window_top .window_icon:hover {
    color: #d5178f;
  }
  .window .window_content {
    width: 290px;
    clear: both;
    border-right: 6px solid #000;
    border-left: 6px solid #000;
    border-bottom: 6px solid #000;
    margin-top: -6px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    background: #fff;
  }
  .window .window_content h1 {
    font-family: "OCRAStdRegular";
    src: url('97625733-ocrastd.eot');
    src: url('97625733-ocrastd.eot?#iefix') format('embedded-opentype'), url('97625733-ocrastd.svg#OCRAStdRegular') format('svg'), url('97625733-ocrastd.woff') format('woff'), url('97625733-ocrastd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 0.8em;
    text-transform: capitalize;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
  }
  .window .window_content a {
    text-decoration: none;
    color: #000;
  }
  .window .window_content a:hover {
    color: #d5178f;
  }
  .window .window_content p {
    font-family: 'MonacoRegular';
    src: url('monaco.eot');
    src: url('monaco.eot') format('embedded-opentype'), url('monaco.woff') format('woff'), url('monaco.ttf') format('truetype'), url('monaco.svg#MonacoRegular') format('svg');
    font-size: 0.5em;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.1em;
  }
  .window .window_content_thumbnail {
    display: block;
    width: 100%;
    background: #fff;
    margin: auto;
    padding-bottom: 6px;
    position: relative;
  }
  .window .window_content_thumbnail a {
    text-decoration: none;
    color: #000;
  }
  .window .window_content_thumbnail a:hover {
    color: #d5178f;
  }
  .window .window_content_thumbnail img {
    width: 100%;
    height: auto;
    position: relative;
  }
  .window .window_content_buttons {
    background: #000;
    font-size: 0.4em;
    text-transform: uppercase;
    font-weight: 300!important;
    letter-spacing: 0.08em;
    width: 100%;
    height: 20px;
    position: inherit;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 5px;
    margin-right: 12px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    font-family: 'Conv_MODENINE';
    src: url('MODENINE.eot');
    src: local('☺'), url('MODENINE.woff') format('woff'), url('MODENINE.ttf') format('truetype'), url('MODENINE.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .window .window_content_buttons a {
    color: #fff;
  }
  .window .window_content_buttons a:hover {
    color: #fff;
  }
  .window .window_content_buttons:hover {
    color: #fff!important;
    background: #2e19ad;
  }
  .window2 {
    left: 50%;
    top: 18%;
    z-index: 20!important;
    font-size: 1.9em;
    width: 290px;
    position: absolute;
  }
  .window2 .window_top2 {
    cursor: url(img/icon-grab.svg), auto;
    background: #fff;
    border: 6px solid #000;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    float: right;
    width: 290px;
  }
  .window2 .window_top2 .window_icon {
    display: inline-block;
    cursor: url(img/icon-pointer.svg), auto;
    float: right;
    font-size: 1em;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #000;
  }
  .window2 .window_top2 .window_icon:hover {
    color: #d5178f;
  }
  .window2 .window_content2 {
    width: 290px;
    clear: both;
    border-right: 6px solid #000;
    border-left: 6px solid #000;
    border-bottom: 6px solid #000;
    margin-top: -6px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    background: #fff;
  }
  .window2 .window_content2 h1 {
    font-family: "OCRAStdRegular";
    src: url('97625733-ocrastd.eot');
    src: url('97625733-ocrastd.eot?#iefix') format('embedded-opentype'), url('97625733-ocrastd.svg#OCRAStdRegular') format('svg'), url('97625733-ocrastd.woff') format('woff'), url('97625733-ocrastd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 0.8em;
    text-transform: capitalize;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
  }
  .window2 .window_content2 a {
    text-decoration: none;
    color: #000;
  }
  .window2 .window_content2 a:hover {
    color: #d5178f;
  }
  .window2 .window_content2 p {
    font-family: 'MonacoRegular';
    src: url('monaco.eot');
    src: url('monaco.eot') format('embedded-opentype'), url('monaco.woff') format('woff'), url('monaco.ttf') format('truetype'), url('monaco.svg#MonacoRegular') format('svg');
    font-size: 0.5em;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.1em;
  }
  .window2 .window_content_thumbnail {
    display: block;
    width: 100%;
    background: #fff;
    margin: auto;
    padding-bottom: 6px;
    position: relative;
  }
  .window2 .window_content_thumbnail a {
    text-decoration: none;
    color: #000;
  }
  .window2 .window_content_thumbnail a:hover {
    color: #d5178f;
  }
  .window2 .window_content_thumbnail img {
    width: 100%;
    height: auto;
    position: relative;
  }
  .window2 .window_content_buttons {
    background: #000;
    font-size: 0.4em;
    text-transform: uppercase;
    font-weight: 300!important;
    letter-spacing: 0.08em;
    width: 100%;
    height: 20px;
    position: inherit;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 5px;
    margin-right: 12px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    font-family: 'Conv_MODENINE';
    src: url('MODENINE.eot');
    src: local('☺'), url('MODENINE.woff') format('woff'), url('MODENINE.ttf') format('truetype'), url('MODENINE.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .window2 .window_content_buttons a {
    color: #fff;
  }
  .window2 .window_content_buttons a:hover {
    color: #fff;
  }
  .window2 .window_content_buttons:hover {
    color: #fff!important;
    background: #2e19ad;
  }
  .window3 {
    left: 12%;
    top: 9%;
    z-index: 30!important;
    font-size: 1.9em;
    width: 290px;
    position: absolute;
  }
  .window3 .window_top3 {
    cursor: url(img/icon-grab.svg), auto;
    background: #fff;
    border: 6px solid #000;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    float: right;
    width: 290px;
  }
  .window3 .window_top3 .window_icon {
    display: inline-block;
    cursor: url(img/icon-pointer.svg), auto;
    float: right;
    font-size: 1em;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #000;
  }
  .window3 .window_top3 .window_icon:hover {
    color: #d5178f;
  }
  .window3 .window_content3 {
    width: 290px;
    clear: both;
    border-right: 6px solid #000;
    border-left: 6px solid #000;
    border-bottom: 6px solid #000;
    margin-top: -6px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    background: #fff;
  }
  .window3 .window_content3 h1 {
    font-family: "OCRAStdRegular";
    src: url('97625733-ocrastd.eot');
    src: url('97625733-ocrastd.eot?#iefix') format('embedded-opentype'), url('97625733-ocrastd.svg#OCRAStdRegular') format('svg'), url('97625733-ocrastd.woff') format('woff'), url('97625733-ocrastd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 0.8em;
    text-transform: capitalize;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
  }
  .window3 .window_content3 a {
    text-decoration: none;
    color: #000;
  }
  .window3 .window_content3 a:hover {
    color: #d5178f;
  }
  .window3 .window_content3 p {
    font-family: 'MonacoRegular';
    src: url('monaco.eot');
    src: url('monaco.eot') format('embedded-opentype'), url('monaco.woff') format('woff'), url('monaco.ttf') format('truetype'), url('monaco.svg#MonacoRegular') format('svg');
    font-size: 0.5em;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.1em;
  }
  .window3 .window_content_thumbnail {
    display: block;
    width: 100%;
    background: #fff;
    margin: auto;
    padding-bottom: 6px;
    position: relative;
  }
  .window3 .window_content_thumbnail a {
    text-decoration: none;
    color: #000;
  }
  .window3 .window_content_thumbnail a:hover {
    color: #d5178f;
  }
  .window3 .window_content_thumbnail img {
    width: 100%;
    height: auto;
    position: relative;
  }
  .window3 .window_content_buttons {
    background: #000;
    font-size: 0.4em;
    text-transform: uppercase;
    font-weight: 300!important;
    letter-spacing: 0.08em;
    width: 100%;
    height: 20px;
    position: inherit;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 5px;
    margin-right: 12px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    font-family: 'Conv_MODENINE';
    src: url('MODENINE.eot');
    src: local('☺'), url('MODENINE.woff') format('woff'), url('MODENINE.ttf') format('truetype'), url('MODENINE.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .window3 .window_content_buttons a {
    color: #fff;
  }
  .window3 .window_content_buttons a:hover {
    color: #fff;
  }
  .window3 .window_content_buttons:hover {
    color: #fff!important;
    background: #2e19ad;
  }
  .window4 {
    left: 14%;
    top: 29%;
    z-index: 40!important;
    font-size: 1.9em;
    width: 290px;
    position: absolute;
  }
  .window4 .window_top4 {
    cursor: url(img/icon-grab.svg), auto;
    background: #fff;
    border: 6px solid #000;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    float: right;
    width: 290px;
  }
  .window4 .window_top4 .window_icon {
    display: inline-block;
    cursor: url(img/icon-pointer.svg), auto;
    float: right;
    font-size: 1em;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #000;
  }
  .window4 .window_top4 .window_icon:hover {
    color: #d5178f;
  }
  .window4 .window_content4 {
    width: 290px;
    clear: both;
    border-right: 6px solid #000;
    border-left: 6px solid #000;
    border-bottom: 6px solid #000;
    margin-top: -6px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    background: #fff;
  }
  .window4 .window_content4 h1 {
    font-family: "OCRAStdRegular";
    src: url('97625733-ocrastd.eot');
    src: url('97625733-ocrastd.eot?#iefix') format('embedded-opentype'), url('97625733-ocrastd.svg#OCRAStdRegular') format('svg'), url('97625733-ocrastd.woff') format('woff'), url('97625733-ocrastd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 0.8em;
    text-transform: capitalize;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
  }
  .window4 .window_content4 a {
    text-decoration: none;
    color: #000;
  }
  .window4 .window_content4 a:hover {
    color: #d5178f;
  }
  .window4 .window_content4 p {
    font-family: 'MonacoRegular';
    src: url('monaco.eot');
    src: url('monaco.eot') format('embedded-opentype'), url('monaco.woff') format('woff'), url('monaco.ttf') format('truetype'), url('monaco.svg#MonacoRegular') format('svg');
    font-size: 0.5em;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.1em;
  }
  .window4 .window_content_thumbnail {
    display: block;
    width: 100%;
    background: #fff;
    margin: auto;
    padding-bottom: 6px;
    position: relative;
  }
  .window4 .window_content_thumbnail a {
    text-decoration: none;
    color: #000;
  }
  .window4 .window_content_thumbnail a:hover {
    color: #d5178f;
  }
  .window4 .window_content_thumbnail img {
    width: 100%;
    height: auto;
    position: relative;
  }
  .window4 .window_content_buttons {
    background: #000;
    font-size: 0.4em;
    text-transform: uppercase;
    font-weight: 300!important;
    letter-spacing: 0.08em;
    width: 100%;
    height: 20px;
    position: inherit;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 5px;
    margin-right: 12px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    font-family: 'Conv_MODENINE';
    src: url('MODENINE.eot');
    src: local('☺'), url('MODENINE.woff') format('woff'), url('MODENINE.ttf') format('truetype'), url('MODENINE.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .window4 .window_content_buttons a {
    color: #fff;
  }
  .window4 .window_content_buttons a:hover {
    color: #fff;
  }
  .window4 .window_content_buttons:hover {
    color: #fff!important;
    background: #2e19ad;
  }
  .footer_wrapper {
    z-index: 9999;
    width: 100%;
    height: 50px;
    position: fixed!important;
    color: white;
    background: #000000;
    bottom: 0px!important;
    display: block !important;
    font-family: "OCRAStdRegular";
    src: url('97625733-ocrastd.eot');
    src: url('97625733-ocrastd.eot?#iefix') format('embedded-opentype'), url('97625733-ocrastd.svg#OCRAStdRegular') format('svg'), url('97625733-ocrastd.woff') format('woff'), url('97625733-ocrastd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
  }
  .footer_wrapper .footer {
    display: block!important;
    margin: auto;
    position: relative!important;
    bottom: 0px!important;
  }
  .footer_wrapper .footer ul {
    margin: 24px;
  }
  .footer_wrapper .footer ul li {
    display: inline-block;
    margin-right: 20px;
  }
  .footer_wrapper .footer ul li a {
    text-decoration: none;
    color: white;
  }
  .footer_spacing {
    height: 80px;
  }
}
